<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Tasks List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list *ngIf="(tasks$ | async) as tasks">
    <ng-container *ngIf="tasks.length > 0; else noTasks">
      <app-task-item
        *ngFor="let task of tasks"
        [task]="task"
      ></app-task-item>
    </ng-container>
    <ng-template #noTasks>
      <ion-item lines="none">No Task yet...</ion-item>
    </ng-template>
  </ion-list>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
  >
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
